<header>
    <h1 class="home-title">
        <marquee behavior="slide" direction="left" scrollamount="10">
            Welcome to HomePage
        </marquee>
    </h1>
</header>

<div class="home-links">
    <a href="/login">Login</a>
    <br>
    <!-- <a href="/signup">
        Signup
    </a> -->
</div>