<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Based Access Control</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <%- body -%>
    </main>
    <!-- <footer style>
        <p>From Anonymous Coder</p>
    </footer> -->
</body>

</html>