<div class="page-spacer"></div>
<div class="auth-card">
    <h2>Login</h2>
    <form action="/api/auth/login" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <div class="auth-actions">
            <input type="submit" value="Login">
            <a href="/signup">Create New User</a>
        </div>
    </form>
</div>