<div class="toolbar">
    <form action="/api/auth/logout" method="post">
        <button type="submit" class="action-button">Logout</button>
    </form>
</div>

<form action="/api/content/actions" method="get" class="action-grid">
    <!-- Render buttons based on user role -->


    <%- include('./partials/adminButtons.ejs') %>
</form>