<%- include("viewerButtons") %>

    <!-- Member additions -->

    <button name="action" value="createTask"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Create Task</button>
    <button name="action" value="updateAssignedTask"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Update Assigned Task</button>