<!-- Base permissions -->

<!-- <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">View Team</button> -->
<button name="action" value="viewTasks" style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">View
    Tasks</button>
<button name="action" value="comment"
    style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Comment</button>