<header>
    <h1
        style="background-color: blue; color: whitesmoke; margin: 10px; padding: 10px; border-radius: 10px; font-size: 50px;">
        <marquee behavior="slide" direction="left" scrollamount="10">
            Welcome to HomePage
        </marquee>
    </h1>
</header>

<div style="display: flex; justify-content: center; gap: 10px;">
    <a href="/login">Login</a>
    <br>
    <!-- <a href="/signup"
        style="text-align: right; background-color: blue; color: white; font-size: 20px; margin: 10px; padding: 10px; border-radius: 10px;">
        Signup
    </a> -->
</div>