<form action="/api/content/actions" class="role-action-grid"
    style="display: grid; grid-template-columns: repeat(4, 5fr); gap: 10px; padding: 50px; box-sizing: border-box;"
    method="GET">

    <!-- Render buttons based on user role -->

    <%- include('./partials/' + role + 'Buttons.ejs' ) %>
</form>