<!-- Admin additions -->


<button name="action" value="createProject" class="action-button">Create Project</button>
<button name="action" value="updateProject" class="action-button">Update Project</button>
<button name="action" value="deleteProject" class="action-button">Delete Project</button>
<button name="action" value="changeRoles" class="action-button">Change Roles</button>

<%- include("maintainerButtons") %>