<%- include("memberButtons") %>

    <!-- Maintainer additions -->

    <button name="action" value="inviteMembers" class="action-button">Invite Members</button>
    <button name="action" value="createProject" class="action-button">Create Project</button>
    <button name="action" value="editProject" class="action-button">Edit Project</button>
    <button name="action" value="deleteProject" class="action-button">Delete Project</button>

    <button name="action" value="assignTask" class="action-button">Assign Task</button>
    <button name="action" value="deleteTask" class="action-button">Delete Task</button>