<%- include("viewerButtons") %>

    <!-- Member additions -->

    <button name="action" value="createTask" class="action-button">Create Task</button>
    <button name="action" value="updateAssignedTask" class="action-button">Update Assigned Task</button>