<!-- Base permissions -->

<!-- <button class="action-button">View Team</button> -->
<button name="action" value="viewTasks" class="action-button">View Tasks</button>
<button name="action" value="comment" class="action-button">Comment</button>