node_modules
.env
.vscode
.agents
# backend/src/tests
action-create-project-audit.md
audit-reports/
stitch/
comprehensive.md
backend/src/models/user-login-details.md
backend/imp-local-md-files/
backend/permissions.js
backend/userModel_old.js
backend/src/backend/src/tests

