<aside class="project-panel project-notes">
    <h3>Service reference</h3>
    <p>This form is shaped around <code><%= serviceName %></code>.</p>

    <h4>Allowed creator roles</h4>
    <ul>
        <% creatorRoles.forEach((role) => { %>
            <li><%= role %></li>
        <% }) %>
    </ul>

    <h4>Expected service input</h4>
    <ul>
        <li><code>teamId</code></li>
        <li><code>userId</code></li>
        <li><code>name</code></li>
        <li><code>description</code></li>
        <li><code>dueDate</code></li>
    </ul>
</aside>

