<div style="min-height: 100px; max-height: 200px;"></div>
<div
    style="max-width: 300px ; max-height: 500px; border: 2px solid white; padding: 20px; align-content: center; align-items: center; margin: auto; background-color:cornflowerblue;">
    <h2 style=" text-align: center;">Login</h2>
    <br>
    <form action="/api/auth/login" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <input type="submit" value="Login">
            <a href="/signup">Create New User</a>
        </div>
    </form>


</div>