<!-- Admin additions -->

<button name="action" value="createProject"
    style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Create Project</button>
<button name="action" value="updateProject"
    style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Update Project</button>
<button name="action" value="deleteProject"
    style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Delete Project</button>
<button name="action" value="changeRoles"
    style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Change Roles</button>

<%- include("maintainerButtons") %>