<!-- Admin additions -->


<button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Create Project</button>
<button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Update Project</button>
<button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Delete Project</button>
<button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Change Roles</button>

<%- include("maintainerButtons") %>