<%- include("memberButtons") %>

    <!-- Maintainer additions -->

    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Invite Members</button>
    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Create Project</button>
    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Edit Project</button>
    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Delete Project</button>

    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Assign Task</button>
    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Delete Task</button>