<%- include("viewerButtons") %>

    <!-- Member additions -->

    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Create Task</button>
    <button style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Update Assigned Task</button>