<%- include("memberButtons") %>

    <!-- Maintainer additions -->

    <button name="action" value="inviteMembers"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Invite
        Members</button>
    <button name="action" value="createProject"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Create
        Project</button>
    <button name="action" value="editProject"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Edit
        Project</button>
    <button name="action" value="deleteProject"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Delete Project</button>

    <button name="action" value="assignTask"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Assign Task</button>
    <button name="action" value="deleteTask"
        style="padding: 10px; border: none; border-radius: 5px; max-width: 250px;">Delete Task</button>